
CodeChallenge/.idea/.idea.CodeChallenge/.idea/workspace.xml
.vs/
.idea/
.terraform/
[Bb]in/
[Oo]bj/
[Ll]og/
*.user
*.iml
*.xml
.iws
workspace.xml
tasks.xml
*.xml
CodeChallenge/.idea/.idea.CodeChallenge/.idea/workspace.xml
CodeChallenge/CodeChallenge.DisbursementsVerifier.Api.UnitTests/obj/Debug/net6.0/CodeChallenge.DisbursementsVerifier.Api.UnitTests.csproj.AssemblyReference.cache
